.barre {
  display: flex;
  justify-content: space-between ;
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
  height: 52px;
  align-items: center;
}

.drop p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
/* animation: slide 0.5s ease-in-out; */
margin-left: 15px;
margin-right: 10px;
}

.barre i {
margin-right: 30px;
font-size: 30px;

}
.titre {
margin-left: 18px;
font-size: x-large;
}

.text {
background-color: #F6F6F6;
border-radius: 10px;
margin-top: -30px;
padding: 30px 20px 0px;
position: relative;
z-index: -1;
}


li {
list-style-type: none ;
}

.btnDropdown {
margin-right: 10px;
}

/* @keyframes slide {
0% {
    transform: translateY(-100%);
}
100% {
    transform: translateY(0);
}
} */

@media screen and (width <=700px) {

  .barre {
    height: 30px;
  }
}
