.style {
display: flex;
flex-wrap: wrap;
flex-direction: column;
text-align: center;
align-items: center;
gap: 2rem;
margin-top: 100px;
padding-bottom: 30px;
color: var(--red);
flex-grow: 1;

}

.modifBanner .banner{
    background-image: url("../../assets/about_cover.png");
    height: 223px;
}

.style .drop {
    width: 100%; 
    max-width: 1023px;
}


@media screen and (width <=1100px) {
   .style .drop {
    width: 95%;
    margin: auto;
   }
   .modifBanner .banner{
    height: 111px;
}

}

@media screen and (width <=600px) {
    .style .drop {
     width: 90%;
    }
 }

 @media screen and (width <=430px) {
    .style .drop {
     width: 88%;
    }
 }

