.image__banner img {
    position: absolute;
    inset: 0;
    border-radius: 25px;
    max-height: 415px;
    width: 93%;
    margin: 0px auto;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    
}

.image__banner{
    position: relative;
    min-height: 415px;
    
}

.image__banner .show{
    opacity: 1;
}

.image__banner .btn-suivant {
    cursor: pointer;
    width: 5rem;
    height: 300px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    top: 0;
    border-radius: 25px;
    position: absolute;
    border-color: transparent;
    color: white;
    font-size: 60px;
    margin: 40px auto;
    margin-left: 3rem;
    
}

.image__banner .btn-precedent {
    cursor: pointer;
    width: 5rem;
    height: 300px;
    bottom: 0;
    right: 0;
    background-color: transparent;
    top: 0;
    border-radius: 25px;
    position: absolute;
    border-color: transparent;
    color: white;
    font-size: 60px;
    margin: 40px auto;
    margin-right: 3rem;
}

@media screen and (width <=790px) {

    .image__banner .btn-next {
        font-size: 40px;
        margin-left: 25px;
    }
    
    .image__banner .btn-previous {
        font-size: 40px;
        margin-right: 25px;
    }

    .image__banner img {
        height: 350px;
    }
   
}

@media screen and (width <=600px) {
    .image__banner img {
        min-height: 350px;   
    }

    .image__banner .btn-next {
        
        margin-left: 10px;
    }
    
    .image__banner .btn-previous {
       
        margin-right: 10px;
    }
    .image__banner .btn-suivant {
        font-size: 40px;
        margin-left: 5px;
    }

    .image__banner .btn-precedent {
        font-size: 40px;
        margin-right: 5px;
    }
   
}



