.header-appart {
    display: flex;
    width: 93%;
    justify-content: space-between;
    margin: auto;   
}

.tags-appart span {
    background-color: var(--red);
    border-radius: 25px;
    color: white;
    margin-right: 15px;
    padding: 5px;
}


.badge-proprietaire-appart img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: rgb(170, 167, 167);
}

.star-proprietaire-appart {
    font-size: 22px;
    margin-top: 100px;
}

.star-proprietaire-appart i {
    margin-right: 6px;
}

.red-star {
    color: var(--red)
}

.grey-star {
    color: #E3E3E3;
}

.proprietaire-appart {
    display: flex;

}

.nom-proprietaire {
    display: flex;
    margin-right: -150px;
    margin-top: 10px;
}

.nom-proprietaire h3 {
    width: 60%;
}

@media screen and (width <=800px) {
    .header-appart {
        display: block;
    }
    .nom-proprietaire {
        position: absolute;
        right: 170px;
        margin-top: 30px;
    }

    .star-proprietaire-appart {
        margin-top: 50px;
        font-size: 18px;
    }

    .badge-proprietaire-appart img {
        height: 50px;
        width: 50px;
    }
  
}

@media screen and (width <=600px) {
    .header-appart {
        margin-top: -60px;
    }
    .titre-appart h1{
        font-size: 23px;
    }
    .titre-appart h2{
        font-size: 18px;
    }
    .tags-appart{
        font-size: 12px;
    }
    .nom-proprietaire{
        font-size: 14px;
    }
  
}
