.navbar {
    display: flex;
    align-items: center;
    font-weight: 540;
    max-width: 92%;
    padding: 10px;
    margin: auto;
    max-height: 100px; 
    gap: 50px;
}

.navbar_logo {
    margin-right: auto;
}

.nav-1 {
    font-size: 25px;
    
    
}
.navbar a {
    text-decoration: none;
    color: var(--red);
    justify-content: end;
   
}

.navbar a.active {
    text-decoration-line: underline ;
  }

@media screen and (width <=1000px) {
    .nav-1 {
        font-size: 20px;
        margin-right: 20px;
        text-transform: uppercase;
    }
    .nav-2{
        font-size: 20px;
        text-transform: uppercase;
        
    }
   
    .navbar_logo img {
        width: 85%;
    }
}

@media screen and (width <=500px) {
    .nav-1 {
        font-size: 12px;
    }
    .nav-2{
        font-size: 12px;
        width: 30%;
    }

    .navbar{
        gap: 1px;
    }
  
    .navbar_logo img {
        width: 145px;
        height: 47px;
    }
}

