.navbar {
    display: flex;
    margin-left: 50px;
    align-items: center;
    padding: 15px;
    font-weight: 540;
    max-width: 92%;
}

.navbar_logo {
    margin-right: auto;
}

.nav-1 {
    margin-right: 60px;
    font-size: 25px;
    
}
.navbar a {
    text-decoration: none;
    color: var(--red);
}

 

.active{
    
}

.navbar a.active {
    text-decoration-line: underline ;
  }

@media screen and (width <=1000px) {
    .nav-1 {
        font-size: 20px;
        margin-right: 20px;
        text-transform: uppercase;
    }
    .nav-2{
        font-size: 20px;
        text-transform: uppercase;
        
    }
    .navbar_logo{
        margin-left: -30px;
        
    }
    .navbar_logo img {
        width: 85%;
    }
}

@media screen and (width <=500px) {
    .nav-1 {
        font-size: 15px;
    }
    .nav-2{
        font-size: 15px;
        width: 30%;
    }
  
    .navbar_logo img {
        width: 75%;
    }
}

