.footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 160px;
    bottom: 0;
    width: 100%;
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-logo {
    padding-top: 40px;
}

/* @media screen and (width <=600px) {
    .footer{
        width: 110%;
       
    }
  
  } */


