.apart {
    border-radius: 15px;
    flex-basis: 30%;
    align-items: end;
    background-size: cover;
    
}
.apart img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    filter: grayscale(30%);
}
.titre-location {
    width: 12%;
    margin-left: 10px;
    color: white;
    position:absolute;
    margin-top: -60px;
    font-size: 18px;
    
}

@media screen and (width <=700px) {
    .apart {
        flex-basis: 100%;
    }
    .titre-location {
        width: 50%;
        font-size: large;
    }
}