.grid {
    background-color: rgb(242, 242, 242);
    
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: space-between;
    justify-content: center;
    max-width: 92%;
    margin: auto;
    margin-bottom: 30px;
}

@media screen and (width <=850px) {
    .grid {
        background-color: white;        
    }
}