.banner {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    padding: 20px;
    max-width: 92%;
    margin: 40px auto;
    max-height: 223px;
    background-image: url("../../assets/home_cover.png");
    opacity: calc(80%);
}

.banner h1 {
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 60px;
}

@media screen and (width <=850px) {
    .banner {
        margin: 20px;
        min-height: 111px;
        border-radius: 0;

    }
    .banner h1{
        width: 70%;
        font-size: 24px;
        margin-top: 25px;
        margin-left: -90px;
        
    }
    .modifBanner .banner{
        height: 111px;
    }
}